body{
background-image: url(../images/background.png);
background-repeat: no-repeat;
    background-size: cover;   
}
.journey-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 79px; 
    background-color: #00000066;
opacity: calc(50%);
   
}
.text, .text1{
    color: white;
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
margin-right: 5px;
}

.icon:hover path{
fill: #3CB878;
transition: 00.5s;
}
.text1:hover{
    color:  #3CB878;
    transition: 00.5s;
}

.journey-title:hover{
color:  #3CB878;
transition: 00.5s;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 72px;  
}
.icon{
    margin-right: 22px;
}
.journey-title{
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left; 
    color: white;
    margin-top: 18px;
    text-decoration: none;
}
.container{
    width: 444px;

    margin: 54px auto;
    background-color: white;
    align-items: center;  
    position: relative;
    padding-bottom: 38px;
}
.green{
    height: 18px;
width: 18px;
position: absolute;
top: 22px;
left: 1px;
background-color:  #3CB878;



}
.sign-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 61px;
    margin-right: 59px;
    margin-top: 31px;
}
.s-u{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;   
}
.l-i{
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0px;
text-align: left;
color: #3CB878;
}
.l-i:hover{
    text-decoration: underline;
    transition: 00.5s;
}
.buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 58px;
    margin-right: 58px;
}
.button{
   width: 160px;
   height: 48px;
  align-items: center;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding-left: 67px;
    padding-right: 22px;
}
.f-g{
    padding-right: 38px;
    color: white;
    padding-top: 5px;
    position: absolute;
    left: 16px;
    top: 6px;
}
.fb{
    background: #305DB8;
    color: white;
}
.google{
    color: white;
    background: #DF4A32;
}
.signup-divider {
    font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
display: inline-block;
}
.divider{
    text-align: center;
    margin-top: 17px;
}
.line{
 color: gray;
padding-bottom: 4px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    row-gap: 5px;
}
.signup-form-field{
    height: 44px;
   border: none;
    outline: none;
    padding-bottom: 7px;
    font-size: 15px;
    line-height: 22px;
    transition: 0.5s;
    transition-property: box-shadow;
    margin-left: 61px;
    margin-right: 61px;
}
.signup-form-field:focus {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.signup-form-field::placeholder {
	color: #a0a0a0;
}


.agree{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 65px; 
    margin-top: 27px; 
}

.check{
    display: none;
}
.fake{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
}
.fake::before{
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: block;
    width: 14px;
    height: 14px;
    color: #01813F ;
  
    opacity: 0;
  
}
.check:checked + .fake::before{
    opacity: 1;
}
.text3:hover{
    color: #3CB878;
    text-decoration: underline;
    transition: 0.5s;
}

.signup-form-submit{
    font-family: Ubuntu;
    font-weight: 400;
	font-size: 16px;
	line-height: 16px;
color: white;
    height: 44px;
    margin-left: 61px;
    margin-right: 61px;
    background: #3CB878CC;
    margin-top: 20px;
    border: none;
    border-radius: 4px;

    
}